@import "tailwindcss";
html,
body {
  /* font-family: var(--font-sf); */
}
html {
  scroll-behavior: smooth;
}
.vh-100 {
  height: 100vh !important;
}
/* HERO SECTION */
.main-bg {
  background-image: url("/img/bg.jpg");
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* ABOUT ME SECTION */
.aboutMe-bg {
  background-image: url("/img/about-me.jpg");
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 40% !important; */
}
